.features-section {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #e7d7c2;
}

.feature {
    text-align: start;
    flex: 1;
    margin: 0 15px;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    padding-bottom: 40px;
}

.feature .icon img {
    width: 80px;
    height: 80px;
}

.feature h3 {
    font-size: 1.5em;
    margin-top: 20px;
    color: black;
}

.feature p {
    font-size: 1.2em;
    color: #555;
    margin: 15px 0;
    font-style: oblique;
    font-weight: 500;
}

.feature a {
    display: inline-block;
    color: #006241;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #006241;
    padding: 12px 25px;
    transition: all .42s ease;
    border-radius: 25px;
    text-decoration: none;   
}
.feature a:hover{
    background-color: #006241;
    color:white;
}
.feature i{
    vertical-align: middle;
}
@media(max-width:1600px) and (min-width: 1200px){
    .feature h3{
        font-size: 19px;
    }
    .feature p{
        font-size: 13px;
        font-weight: 600;
    }
    .feature a{
        font-size: 15px;
        padding: 10px 10px;
    }
}
@media(max-width:1200px) and (min-width: 1000px){
    .features-section{
        padding: 0px 10px 0px 10px;
    }
    .feature a{
        padding: 5px 8px 5px 8px;
    }
    .feature a i {
        display: none;
    }
}
@media (max-width:999px) and (min-width: 801px){
    .features-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; 
        padding: 20px;
        max-width: 100%;
    }
}
@media (max-width:800px) and (min-width: 751px){
    .features-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; 
        padding: 20px;
        max-width: 100%;
    }
}
@media(max-width:750px){
    .features-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; 
        padding: 20px;
        max-width: 100%;
    }
}
@media(max-width:500px) and (min-width: 408px){
    .features-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        gap: 20px; 
        padding: 20px;
        max-width: 100%;
    }
    .feature{
        border-right: none;
    }
}
@media(max-width:407px) and (min-width: 377px){
    .features-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        gap: 20px; 
        padding: 20px;
        max-width: 100%;
    }
    .feature{
        border-right: none;
    }
}
@media(max-width:376px){
    .features-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        gap: 20px; 
        padding: 20px;
        max-width: 100%;
    }
    .feature{
        border-right: none;
    }
}
